/** HEADER **/
#header-nav {
  background-color: #6e9880;
  border-radius: 0;
  border: 2px solid black;
}

.navbar-brand {
  padding-top: 20px;
  padding-bottom: 40px;

}
.navbar-brand h1 { 
  font-size: 1.4em;
  color: black;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .85;
}

#nav-list a {
  color: black;
  background-color: #bef6d7;
  text-align: center;
  border-bottom: 2px solid black;
}
#nav-list a:hover {
  background: white;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #ffffff;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -45px;
}
/* END HEADER */

/* PAGE CONTENT */

.page-heading {
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 30px;
}

.item-heading {
	font-weight: bold;
	font-size: 1.1em;
}

#card {
	background-color: #bef6d7;
	padding: 10px;
}

.text-description {
	font-size: 1.em;
}

